<h2> Song Title: "<%= @songs.title %>" </h2>

<br>

<h3> Artist: <%= @songs.artist %> </h3>

<br>

<h4> Artist Summary: </h4><p><%= @songs.summary %></p>

<br>

<h4> Poster's Comments: </h4> <p><%= @songs.comments %></p>
